<div
  class="form-container mat-elevation-z5 text-center"
>
  <h1>Make Post</h1>
  <div class="post-image">
    <img
      class="margin-top mat-elevation-z1"
      [src] = "url =='' ? 'assets/images/camera.png' : url "
    />
    <button mat-mini-fab (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <input #inputField type="file" hidden (change)="onFileChange($event)"/>

  <form class="margin-top" [formGroup]="postForm" (ngSubmit)="savePost()">
    <div class="row">
      <!-- <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="category"
          placeholder="Category"
        />
      </mat-form-field> -->
      
     
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category.value">
            {{category.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="comment"
          placeholder="Comment"
        />
      </mat-form-field>
    </div>
    
    <button type="submit" class="margin-top" mat-raised-button color="primary">
      Post
    </button>
  </form>
</div>
