<mat-card class= "post">
    <mat-card-header>
        <img
            src = {{post?.userAvatar}}
            mat-card-avatar
        />
        <mat-card-title> {{post?.userName}} </mat-card-title>
        <mat-card-subtitle> {{post?.date}} {{post?.time}}  </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <img
            src = {{post?.image}}
            width = 500px;
            height = 300px;
        />
        <div class="post_text">
            <p> {{post?.comment}} </p>
            
        </div>
    </mat-card-content>

    <mat-card-footer>
        
    </mat-card-footer>

</mat-card>
