<mat-card class= "post">
    <mat-card-header>
        <img
            src = "https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"
            mat-card-avatar
        />
        <mat-card-title> Jane Doe </mat-card-title>
        <mat-card-subtitle> 1<sup>st</sup> Jan 2000, 00:00  </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <img
            src = "https://www.chanchao.com.tw/images/default.jpg" 
            width = 500px;
            height = 300px;
        />
        <div class="post_text" >
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            
        </div>
    </mat-card-content>

    <mat-card-footer>
        
    </mat-card-footer>

</mat-card>
