<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <p>
            <span class="block text-5xl font-bold mb-1">One app to discover NUS</span>
        </p>
            <!-- div class="text-4xl text-primary font-bold mb-3">blah blah</div> -->
            <p class="mt-0 mb-4 text-1000 line-height-3">Orbital 2022</p>
            
            <!-- <button pButton pRipple label="Learn More" type="button" class="mr-3 p-button-raised"></button>
            <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button> -->
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img 
            height = "500"
            src="https://content.presspage.com/uploads/2580/1920_utown.jpg?10000" 
            alt="Image" 
            class="md:ml-auto block md:h-full" 
            style="clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>
