<ng-container *ngIf="user$ | async as User">
    <mat-sidenav-container>
      <mat-sidenav mode = "side" opened>
  
        <img 
          class=" avatar mat-elevation-z8 " 
          [src]="User.photoURL ?? 'assets/images/profile-placeholder.png'"
        />
  
        <h4> {{User.displayName}} </h4>
        <p class= "designation"> {{User.description}} </p>
  
        <button mat-button class="menu-button" routerLink="/home">
          <mat-icon> home </mat-icon>
          <span> Homepage </span>
        </button>
  
        <mat-divider></mat-divider>
  
        <button mat-button class="menu-button" routerLink="/eateries">
          <mat-icon> fastfood </mat-icon>
          <span> Eateries </span>
        </button>
        <button mat-button class="menu-button" routerLink="/studyspots">
          <mat-icon> local_library </mat-icon>
          <span> Study Spots </span>
        </button>
        <button mat-button class="menu-button" routerLink="/facilities">
          <mat-icon> local_play </mat-icon>
          <span> Facilities </span>
        </button>
        <button mat-button class="menu-button" routerLink="/scenicviews">
          <mat-icon> local_see </mat-icon>
          <span> Scenic Views </span>
        </button>
        <button mat-button disabled class="menu-button">
          <mat-icon> insert_emoticon </mat-icon>
          <span> Hidden Gems </span>
        </button>
  
      <mat-divider></mat-divider>
        
        
      <button mat-button class="menu-button" onClick="window.open('https://github.com/Lucas-Wee/NUSpaces')">
        <mat-icon> info </mat-icon>
        <span> GitHub </span>
      </button>
  
      </mat-sidenav>
  
      <mat-sidenav-content>
        <div class = "content mat-elevation-z4">
          <app-feed class = "posts" [allPosts]="this.posts"></app-feed>
        </div>
          
      </mat-sidenav-content>
    </mat-sidenav-container>
  
  
  </ng-container>
  

